<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
      <h1>Create a New Blog</h1>
        <form action="/create" method="POST">
        <label>Title:</label>
        <input type="text" name="title" required>
        <br>
        <br>
        <label>Content:</label>
        <textarea name="content" required></textarea>
        <br>
        <br>
        <button type="submit">Publish</button>
       </form>
</body>
</html>
